.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indexHeader {
    font-size: 3em;
}

.wmessage {
    font-size: 3em;
}

.popcat {
    height: 600px;
    width: 600px;
}

.socialNavbar {
    font-size: 5em;
}
